
body {
	background-color: #343d46;
}

.header h2 {
	color: #c0c5ce;
}

.header p {
	color: #65737e;
}

.results {
	margin-top: 20px;
	padding: 0;
}

.movies-container {
	display: grid;
	margin: auto;
	grid-template-rows: auto;
}
.movie {
	display: flex;
	flex-direction: column;
	margin: 10px 20px;
	padding: 0;
}

.movieInfo {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	width: 100%;
	height: 100%;
	background-color: #a7adba;
	opacity: 0;
	font-size: 12px;
}

.movieTitle {
	text-align: center;
	font-size: 14px;
}
.movieYear {
	justify-self: center;
}

.movieImage {
	width: 100%;
	height: 100%;
	border-radius: 25px;
}

.addButton {
	align-self: end;
	justify-self: end;
}

@media screen and (min-width: 1000px){
 .movies-container {
	grid-template-columns: 1fr 1fr 1fr; 
 }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
	.movies-container {
	   grid-template-columns: 1fr 1fr; 
	}
   }

